* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

p a {
    color: cadetblue;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

img,
video {
/*    display: block;*/
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
/*    margin: auto 0;*/
}

svg {
    height: 100%;
    width: 100%;
    margin: auto;
	vertical-align: bottom;
    fill: #fff;
}

body {
    font: 300 20px / 36px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5a5a5a;
    background-color: #000;
	overflow-x: hidden;
	margin-right: calc(-1 * (100vw - 100%)); /* ScrollOffset */
/*    overflow: hidden;*/
}

.container {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
/*    font: 300 20px / 36px Arial;*/
}

/*Header*/
.header-background {
    background-image: url(../images/bg.jpeg);
    background-position: center center;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

header {
    color: #fff;
    position: fixed;
    width: 100vw;	/* ScrollOffset */
    top: 0;
    z-index: 10;
}

header.body-is-scrolled {
/*    font-size: 14px;*/
/*    padding: 6px 0;*/
    color: #000;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
}

header.body-is-scrolled .header-logo svg {
    fill: #5f9ea0;
}

.header-logo {
    font-size: 65px; 
    float: left;
}

.header-logo a {
    float: left; 
    width: 183px;
}

.header-logo svg {
/*    height: 100%;*/
/*    width: 183px;*/
    vertical-align: initial;
}

.header-nav {
    float: right;
}

.header-nav-link {
    font: 400 14px / 14px Montserrat, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 17px 9px;
    display: block;
}

.header-nav li:last-child .header-nav-link{
    padding-right: 0;
}

.header-nav-link:hover, 
.header-nav-link.active {
    color: cadetblue;
}

.icon-bar {
    padding: 2px 15px;
    height: 44px;
    width: 44px;
    display: none;
    float: right;
    cursor: pointer;
}

.icon-bar:hover {
    transform: scale(.9);
}

.path1 {
    stroke-dasharray: 22 133;
    stroke-dashoffset: 155;
}
.path2, .path3 {
    transform-origin: center;
    transform: rotate(0deg);
}

.menu-checkbox {
    display: none;
}

.menu-checkbox:checked ~ * .header-nav {
    height: 196px;
}

.menu-checkbox:checked ~ * .path1 {
    animation: draw-path1 .7s forwards;
}

.menu-checkbox:checked ~ * .path2 {
    animation: draw-path2 .5s forwards;
}

.menu-checkbox:checked ~ * .path3 {
    animation: draw-path3 .5s forwards;
}

@keyframes draw-path1 {
    100% {
        stroke-dasharray: 125 30;
        stroke-dashoffset: 125;
    }
}

@keyframes draw-path2 {
    100% {
        -webkit-transform: translate(9.5px,7.5px) rotate(-45deg);  
		transform: translate(2px,12px) rotate(-45deg);
    }
}

@keyframes draw-path3 {
    100% {
        -webkit-stroke-dasharray: 18; 
		stroke-dasharray: 24;
        transform: translate(1px,1px) rotate(45deg);
    }
}



/*Main*/

main {
    background-color: cadetblue;
/*    height: 1000px;*/
}

main section {
    /*    min-height: 500px; */
    padding: 80px 0px;
    background-color: #f4f4f4;
}

main section:nth-child(2n) {
    background-color: #fff;
}

main section:nth-child(2) {
    margin-top: 600px;
}

main section:last-child {
    margin-bottom: 60px;
}

main section h2 {
    font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 40px;
    font-size: 30px;
}

.top-section {
    background: url(../images/bg.jpeg);
    background-position: top;
    background-size: cover;
    height: 100%;
    width: 120%;
    position: fixed;
    top: 0;
    left: -10%;
    z-index: -1;
}

.top-section h1 {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    width: 100%;
}

.do-section li {
    margin-bottom: 48px;
    padding: 16px 0 0 88px;
    width: 400px;
    position: relative;
}

.do-item {
    display: flex;
    width: 72px;
    height: 72px;
    background: #5f9ea0;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.do-item  svg{
	/* fill: transparent; */
    /* stroke-width: 2; */
    /* stroke: #ffffff; */
    height: 50%;
	width: 60%
}

.do-item:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2)
}


/*portfolio-list*/

.portfolio-list li {
    width: 32%;
    margin-top: 24px;
    transform: translate(0, 0);
    transition: transform .8s ease-in-out;
/*    transition-property: transform,box-shadow;*/
}

@media screen and (min-width: 1220px) {
    .portfolio-list li:nth-child(3n-1) {
        transition-delay: .2s;
    }

    .portfolio-list li:nth-child(3n) {
        transition-delay: .4s;
    }
}

.portfolio-list li.empty {
    width: 15%;
}

.portfolio-list li.animate,
.achievements li.animate {
/*    opacity: 0;*/
    transform: translate(-25px, 160px);
/*    box-shadow: 5px -5px 15px rgba(0, 0, 0, .7);*/
}


/*portfolio-list-item*/

.portfolio-list-item {
    display: flex;
    position: relative;
    color: #fff;
    height: 296px;
    cursor: pointer;
    box-shadow: none;
    transform: translateY(0);
    transition: transform .3s linear;
/*    transition: .3s linear;*/
    
    border-radius: 6px;
}

.portfolio-list-item:hover,
.git-item:hover {    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    transform: translateY(-5px);
}

.portfolio-list-item .logo {
	width: 100%;
    height: 100%;    /*для сафари*/
}

.portfolio-list-item .subtitle {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    margin: 30px;
    padding: 0 10px;
    border-right: 2px solid #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    direction: rtl;
}

.portfolio-list-item h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
}

.portfolio-list-item svg {
    margin-top: 3em;
	height: 60%;
}

.portfolio-list-item .content {
    display: none;
}


/*achievements*/

.achievements li {
    width: 100%;
    margin-top: 24px;
    transform: translate(0, 0);
    transition: transform 1s ease-in-out;
}

.achievements li:first-child {
    margin-top: 0;
}

.achievements li a {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: none;
    transform: translateY(0);
    transition: transform .3s linear;
}

.achievements li a:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
    transform: translateY(-5px);
}

.achievements-icon {
    height: 288px;
    width: 360px;
    display: flex;
}

.achievements-icon svg {
    height: 60%;
}

.achievements-description {
    margin: 24px auto;
    width: 55%;
    /* border: 2px solid #000; */
}


/*popup*/

.popup {
    z-index: 100;
	font-size: 1.7vw;
    visibility: hidden;
    position: fixed;
    background-size: cover;
	transition: transform 3.8s;
/*	width: 378px;*/
/*	height: 296px;*/
	/* transform: matrix(1, 0, 0, 1, 0, 0); */
}

.popup h3 {
    color: #fff;
	font-size: .5em;
    transition:  1.2s;
}

.popup.show h3 {
    font-size: 2em;
}

.popup .logo {
	top: 0;
	z-index: 101;
	position: absolute;
	width: 100%;
	text-align: center;
	transition: 1s;
}

.popup .logo.hide {
    transition: 0s;
}

.popup.show .logo {
	top: calc(50vh - 30vw);
	transform: translateY(0);
}

.popup .logo svg{
    margin-top: 3em;
    margin-bottom: .6em;
    height: 7em;
	transition: all 1s;
}

.popup.show .logo svg {
	margin-top: 1em;
	height: 4em;
}

.popup .logo.theme1 {
    top: 50%;
    transform: translateY(-50%);
}

.popup.show-content .logo.theme1 {
	top: -100%;
}

.popup-close {
    cursor: pointer;
    visibility: hidden;
	z-index: 102;
    opacity: .6;
    font-size: 2.5em;
    font-weight: 400;
	font-family: serif;
    line-height: .9em;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    top: 27px;
    right: 1%;
    height: 1em;
    width: 1em;
    margin: 0;
    padding: 0;
    transition: transform .5s;
}

.popup-close:hover {
    opacity: 1;
    box-shadow: inset 0 0 0 2px;
    transform: scale(.8) rotateZ(90deg);
}

.show {
    visibility: visible;
}

.show-content .popup-close {
    visibility: visible;
}

.popup-content {
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.slidewrapper {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    transition: 0s .3s;
}

.item {
    transition: .8s;
}

.item:nth-child(2) {
	transform: translateX(-100vw);
}

.item.from-logo {
	transform: translateX(33.33%);
}

.item:nth-child(3) {
    transform: translateX(100vw);
}

.item.only {
    transform: translateX(100vw);
}

.show-section .item, 
section.show-section .item.txt {
    transform: translateX(0);
}

.animation {
    /* transition: .3s .3s; */
/*    transition: .8s;*/
}

.modal-error {
    animation: shake .5s;
}

@keyframes shake { 
    0%, 100% { 
        transform: translateX(0); 
    }
    20 { 
        transform: translateX(-16px); 
    }
    40% { 
        transform: translateX(16px);  
    }
    60% { 
        transform: translateX(-8px);  
    }
    80% { 
        transform: translateX(8px);  
    }
}


.popup-navigation-button {
	z-index: 101;
    display: flex;
    position: absolute;
    top: 20%;
    height: 60%;
    width: 8%;
    cursor: pointer;
    transition: transform .6s cubic-bezier(.77, 1.57, .62, .92);
}

.popup-navigation-button.previous {
    left: 0;
    transform: translateX(-100%);
}
.popup-navigation-button.next {
    right: 0;
    transform: translateX(100%);
}

.show-content .popup-navigation-button,
.show-content .popup-indicators {
    transform: none;
}

.popup-indicators {
    position: absolute;
	z-index: 101;
    bottom: 0;
    width: 100%;
	height: 8%;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .6s cubic-bezier(.77, 1.57, .62, .92);
}

.popup-indicators li {
    height: 8px;
    width: 8px;
    margin: 24px 8px;
    border-radius: 50%;
	border: 1px solid;
    cursor: pointer;
    transition: box-shadow .4s;
}

.popup-indicators li:hover,
.popup-indicators li.active {
/*    background-color: #fff;*/
	box-shadow: 0 0 0 2px, inset 0 0 0 9px;
}

.button-icon {
    fill: transparent;
    stroke-width: 3;
    border-radius: 50%;
    height: initial;
    width: 4em;
    transition: transform .3s ease-out;
}

.popup-navigation-button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.5em 0 0 -2.5em;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    box-shadow: inset 0 0 0 29px;
    opacity: 0;
}

.popup-navigation-button.click:after {
      animation: wave-effect .5s ease-out forwards;
}

@keyframes wave-effect {
	0% {
		opacity: 1;
		transform: scale(.5);
	}
	80% {
		box-shadow: inset 0 0 0 2px;
		opacity: .1;
	}
	100% {
		box-shadow: inset 0 0 0 2px;
		opacity: 0;
		transform: scale(1);
	}
}

.popup-navigation-button.next.click .button-icon,
.popup-navigation-button.previous.click .button-icon {
    transform: scale(.6);
    /* margin: auto 1.1em; */
    opacity: .6;
    box-shadow: none;
}

.popup-navigation-button:hover .button-icon {
/*	opacity: 1;*/
    box-shadow: inset 0 0 0 2px;
}

.next:hover .button-icon {
    transform: translateX(-5%) scale(.8);
}
.previous:hover .button-icon {
    transform: translateX(5%) scale(.8);
}

.popup-content section {
	position: relative;
/*    float: left;*/
    overflow: hidden;
/*    position: relative;*/
    /* padding: 190px 200px 56px; */
	/* padding-top: 190px; */
	/* padding-bottom: 56px; */
	/* padding-left: 12%; */
/*    margin: auto;*/
	height: 100%;
/*    width: 950px;*/
    box-sizing: border-box;
/*    display: inline-block;*/
/*    vertical-align: middle;*/
    /* border-radius: 8px; */
    background-color: #fff; 
    display: flex;
    justify-content: center;
    /* align-content: stretch; */
    align-items: center;
}

.bubble {
	z-index: 101;
	width: 100%;
	max-width: 170vh;
    height: 100%;
	max-height: 59vw;
/*	box-shadow: 0 0 0 1px green inset;*/
	position: relative;
	text-align: center;
}

.cell {
	width: 100%;
    height: 100%;
	padding: 5% 8%;
	box-sizing: border-box;
	background-clip: content-box;	
	display: flex;
    align-items: center;
}

.cell.column {
	flex-direction: column;
}

.show-logo .cell {
	padding-top: 7.6em;
}

.show-big-pic .cell {
	padding: 5% 5%;
}

.item.bgd {
    height: 0;
    width: 0;
    border-width: 200px 1000px;
    border-style: solid;
    border-color: transparent #304481 #304481 transparent; 
/*    z-index: 1;*/
    position: absolute;
    bottom: 0;
    left: -600px;
    visibility: hidden;
}


.item.bgd-cir {
    height: 900px;
    width: 900px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border: 200px solid #304481;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.item.bgd-sqr {
    height: 0;
    width: 0;
    border-width: 400px 2000px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #304481; 
    border-left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -550px;
    visibility: hidden;
}

.item.pic {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 40%;
    height: 80%;
}

.show-logo .item.pic {
	height: 95%;
}

.item.pic.only {
	width: 100%;
    height: 100%; 
}

.item.pic img:first-child,
.item.pic video:first-child,
.item.pic iframe {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .5);
}

.item.pic.only img,
.item.pic.only .media {
	margin-right: 0;
	box-shadow: none;
}

.item.pic.multi .media {
	/* visibility: hidden; */
	transform: translateX(100vw);
	transition: .8s;
	position: absolute;
	/* display: none; */
}

.item.pic.multi img.fast {
	transition: 0s;
}

.item.pic.multi .media.active {
	/* visibility: visible; */
	transform: translateX(0);
	display: block;
}

.screen {
    overflow: hidden;
    position: absolute;
}

.screen.desktop {
    height: 90%;
    margin: 0 17.4% 0%;
    left: 0;
}

.screen.mobile {
    height: 55%;
    margin: 7% 9% 0 75.6%;
    right: 0;
}

.screen img {
    max-height: initial;
    animation: showcase 6s 3s; 
}

@keyframes showcase { 
    0%, 100% { 
        transform: translateY(0); 
    }
    70% { 
        transform: translateY(-30em); 
    }
}

.device {
    height: 100%;
    width: 100%;
    position: absolute;
    background: center / contain no-repeat;
}

.item.txt {	
/* 	display: flex;
	flex-direction: column;
    justify-content: center; */
	
	visibility: hidden;
	/* z-index: 110; */
	overflow: hidden;
	height: 7em;
	/* height: 25%; */
	width: 60%;
	box-sizing: border-box;
}

.show-content .item.txt {
/*     display: flex;
	flex-direction: column;
    justify-content: center; */
    
	visibility: visible;
	overflow: visible;
	height: 100%;
	padding: 4vw 0;
}

.show-logo .item.txt {
	text-align: left;
}

.column .item.txt{
	padding: 16px 0 8px;
	width: 100%;
    height: initial;
}

.item.txt h2 {
/*    margin-bottom: 40px;*/
    color: #fff;
	font-weight: 300;
    /* text-transform: uppercase; */
/*    font-size: 42px;*/
    font-size: 1.9em;
/*    font-size: 100%;*/
    margin: 0 15%;
}

.item.txt p {
    margin: 7% 15% 0;
	color: #fff;
    line-height: 1.5em;
	height: initial;
}

.column .item.txt p {
    margin-top: 0;
    text-align: center;
}

.item.txt svg {
	margin-top: 1em;
	margin-bottom: .6em;
	height: 4em;
}

.features {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    margin-top: 7%;
	height: initial;
	/* visibility: visible; */

}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 5.6em;
    width: 5.6em;
/*    line-height: 28px;*/
    line-height: 1.3em;
    color: #365B9D;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 7%;
    text-align: center;
}

.git-item {
	/* z-index: 1; */
	visibility: hidden;
    position: absolute;
    bottom: 1.7em;
    right: 1.7em;
    width: 6em;
    height: 6em;
    background-color: #365b9d;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 6em;
	transition: visibility 0s 1s;
}

.show-section .git-item {
	visibility: visible;
}

.features-item.big {
	height: 7em;
    width: 7em;
    margin: 0 .6em .2em;
	font-size: 1em;
	color: rgba(255,255,255,.5);
    box-shadow: 0 0 0 2px rgba(255,255,255,.5) inset;
    background-color: initial;
}

.features .active {
    background-color: #fff;
    color: #fe4940;
    box-shadow: 0 0 0 8px #fff;
}

.features span {
/*    color: #000;*/
/*    font-size: 26px;*/
    font-size: 1.2em;
    font-weight: 400;
}

.show-title {
    text-align: center;
/*    padding-left: 300px;*/
/*    transform: translateX(0px)*/
}

.square {
    position: fixed;
    top: 10px;
    left: 500px;
    background-color: blue;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

.bgd_pointer {
	z-index: 100;
    position: absolute;
	margin: 0;
    /* top: 0; */
    /* left: 0; */
    width: 1000%;
    height: 1000%;
	
	max-height: 190vw;
	max-width: 290vh;
	/* visibility: hidden; */
	/* fill: #6580ff; */
    /* transform: translate(0, 0); */
}

@media screen and (min-aspect-ratio: 10/6) {
  .popup {
	font-size: 2.8vh;
  }
  
  .show-content .item.txt {
	padding: 8vh 0;
  }
    
  .column .item.txt{
	padding: 16px 0 8px;
  }

  
  .popup.show .logo {
	top: 0;
  }
  
  .popup .logo.theme1 {
    top: 50%;
	transform: translateY(-50%);
  }
}


/*Footer*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -2;
    background-color: #445161;
    padding: 200px 0 20px;
    font: 400 14px / 20px sans-serif;
    color: #fff;
    text-align: center;
/*    height: 100px;*/
}

@media screen and (max-width: 1200px) {
    
    .container {
        max-width: 900px;
    }
    
    .do-section li {
        width: 37%;
    }
    
    .portfolio-list li {
         width: 49%;
    }
    
    .portfolio-list li:nth-child(2n) {
        transition-delay: .2s;
    }
    
    .portfolio-list li.empty {
        display: none;
    }
    
    .achievements-icon {
        width: 49%;
    }
    
    .achievements-description {
        width: 45%;
    }
}

@media screen and (max-width: 760px) {
    
    header {
        background: rgba(255,255,255,.9);
        box-shadow: 0 1px 4px rgba(0,0,0,.5);
    }

    .header-nav {
        float: none;
        margin-left: -15px;
        margin-right: -15px;
        /*        opacity: 0;*/
        height: 0;
        overflow: hidden;
        transition: .4s;
}
    
    .header-nav ul {
        /* flex-flow: column wrap; */
        flex-direction: column;
        /*        justify-content: space-around;*/
        /* justify-content: flex-end; */
}
    
    .header-logo {
/*        margin-left: -15px;*/
        margin-right: -15px;
/*        padding: 0 15px;*/
        float: none;
    }
    
    .header-logo svg {
        fill: #5f9ea0;
    }
    
    .icon-bar {
        display: block;
    }
    
    .header-nav li {
        border-top: 1px solid #d7d7d7;
        /*        display: block;*/
        width: 100%;
        /* float: none; */
        text-align: center;
        color: #000;
    }
    
    .top-section h1 {
        font-size: 12vw;
    }
    
    section h2 {
        text-align: center;
    }
    
    .do-section ul {
        justify-content: space-around;
    }
    
    .do-section li {
        width: 60%;
    }
    
    .portfolio-list {
        justify-content: space-around;
    }
    
    .portfolio-list li {
        width: 95%;
        max-width: 440px;
    }
    
    .portfolio-list li:nth-child(2n) {
        transition-delay: 0s;
    }
    
    .portfolio-list li.empty {
        display: none;
    }
    
    .achievements li a {
        width: 95%;
        max-width: 440px;
        margin: 0 auto;
    }
    
    .achievements .achievements-icon {
        width: 100%;
    }
    
    .achievements .achievements-description {
        width: 90%;
    }
    
    .section-img img,
    .section-img video {
/*        order: 1;*/
    }
    
    .section-img
        transform: translateX(0px);
    }

    .section-txt {
/*        order: 2;*/
        transform: translateX(0px);
    }
}

/* необходимы изменения
@media screen and (max-height: 600px) {
    
    .popup-content,
    .popup-navigation {
        border-top: none;
    }
}
*/

@media screen and (max-width: 760px),
       screen and (max-height: 400px) {
    
/* необходимы изменения
    .popup {
        overflow: auto;    
    }
    
    .popup h3 {
        display: none;
    }
    
    .popup-logo {
        display: none;
    }
    
    .popup-close {
        left: 50%;
        margin-left: -28px;
    }
    
    .popup-indicators {
        visibility: visible;
    }
        
    .popup-navigation {
        display: none;
    }
    
    .popup-content {
        border-top: none;
        width: 95%;
        height: auto;
        margin: 110px auto 40px;
        border-radius: 16px;
        background-color: #eee;
    }
    
    .popup section {
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 50px 10px 100px;
        background-color: transparent;
    }
    
    .animation {
        transition: 1s;
    }

    .item:nth-child(n) {
        transform: translateX(0px);
    }
    
    .item.img img,
    .item.img video {
        box-shadow: none;
        max-height: none;
        order: 1;
    }
    
    .item.txt {
        width: 360px;
        margin-top: 40px;
        order: 2blob:file:///674c7948-ce88-482c-8f1d-7def77948910;
    }

}*/
