/*
#myElement {
  background: silver;
  height: 300px;
  text-align: center;
  font: 30px/300px Helvetica, Arial, sans-serif;
}
*/

* {
    margin: 0;
    padding: 0;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

a {
    text-decoration: none;
    color: inherit;
}

p a {
    color: cadetblue;
}

/*
a:hover, a.active {
        text-decoration:underline;
    fill: cadetblue;
}
*/

ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

img,
video {
    display: block;
/*    width: auto;*/
/*    height: 100%;*/
    max-width: 100%;
    max-height: 100%;
/*    margin: auto 0;*/
}

svg {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #fff;
}

body {
    font: 300 20px / 36px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #5a5a5a;
    background-color: #000;
/*    overflow: hidden;*/
}

.container {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;
/*    font: 300 20px / 36px Arial;*/
}

/*Header*/
.header-background {
    background-image: url(../images/bg.jpeg);
    background-position: center center;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

header {
    /*    background: #445161;*/
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    transition: all .4s;
}

header.body-is-scrolled {
/*    font-size: 14px;*/
/*    padding: 6px 0;*/
    color: #000;
    background: rgba(255, 255, 255, .9);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}

header.body-is-scrolled .header-logo svg {
    fill: #5f9ea0;
}

.header-logo {
    /*    font-family: Lobster, cursive;*/
    /* font-family: 'Kaushan Script', cursive; */
    fill: #fff;
    /*    font: 400 60px / 97px Socialico;*/
    font-size: 65px;
    /*    padding: 60px 0;*/
    /* min-height: 48px; */
    /*    font: 300 14px / 14px Molle, Arial, sans-serif;*/
    float: left;
}

.header-logo a {
    /* padding: 10px 0 -20px; */
/*    display: block;*/
    float: left;
    height: 33px;
    /*    fill: cadetblue; */
}

.header-nav {
    float: right;
/*    height: 70px;*/
}

.header-nav ul {
/*    float: right;*/
/*    height: 70px;*/
}

.header-nav li {
/*    display: inline;*/
/*    float: left;*/
/*    margin-right: 20px;*/
}

.header-nav-link {
    font: 400 14px / 14px Montserrat, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
/*    font-weight: 100;*/
    padding: 17px 9px;
/*    font-size: 14px;*/
/*    background-color: red;*/
    display: block;
}

.header-nav li:last-child .header-nav-link{
    padding-right: 0;
}

.header-nav-link:hover, 
.header-nav-link.active {
    color: cadetblue;
/*    font-weight: 600;*/
/*    text-shadow: 1px 0px 0px cadetblue;*/
/*    color: black;*/
}

.icon-bar {
    padding: 2px 15px;
    height: 44px;
    display: none;
    float: right;
    cursor: pointer;
}

.icon-bar:hover {
    transform: scale(.9);
}

.path1 {
    stroke-dasharray: 22 133;
    stroke-dashoffset: 155;
}
.path2, .path3 {
    transform: rotate(0deg);
}

.menu-checkbox {
    display: none;
}

.menu-checkbox:checked ~ * .header-nav {
    height: 196px;
}

.menu-checkbox:checked ~ * .path1 {
    animation: draw-path1 .7s forwards;
}

.menu-checkbox:checked ~ * .path2 {
    transform-origin: center;
    animation: draw-path2 .5s forwards;
}

.menu-checkbox:checked ~ * .path3 {
    transform-origin: center;
    stroke-dasharray: 18;
    stroke-dashoffset: 35;
    animation: draw-path3 .5s forwards;
}

@keyframes draw-path1 {
    100% {
        stroke-dasharray: 125 30;
        stroke-dashoffset: 125;
    }
}

@keyframes draw-path2 {
    100% {
        transform: translate(2px,12px) rotate(-45deg);
    }
}

@keyframes draw-path3 {
    100% {
        transform: rotate(45deg);
    }
}



/*

.title {
    font-size: 60px;
    padding-bottom: 40px;
    width: 510px;
    float: left;
}

.logo {
    width: 469px;
    height: 214px;
    float: right;
    background: url(images/logo.png), #ffffff;
    background-size: 469px 214px;
}

*/


/*Main*/

main {
    background-color: cadetblue;
/*    height: 1000px;*/
}

main section {
    /*    min-height: 500px; */
    padding: 80px 0px;
    /* background: rgb(246, 248, 248); */
/*    background-color: rgba(246, 248, 248, .9);*/
    background-color: #f4f4f4;
/*    border-bottom: 2px solid #e6e6e5;*/
}

main section:nth-child(2n) {
    background-color: #fff;
}

main section:nth-child(2) {
    margin-top: 600px;
}

main section:last-child {
    margin-bottom: 60px;
}

main section h2 {
    font-family: Montserrat, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 40px;
    font-size: 30px;
}

.top-section {
    background: url(../images/bg.jpeg);
    background-position: top;
    background-size: cover;
/*    height: 560px;*/
    height: 100%;
    width: 120%;
    position: fixed;
    top: 0;
    left: -10%;
    /* padding: 0; */
    z-index: -1;
    /* background-blend-mode: screen; */
    /*    opacity: 1.0;*/
    /*    transform: matrix(1, 0, 0, 1, 0, 0);*/
}

.top-section h1 {
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: #fff;
    /* margin: 0 auto; */
    /* width: 100%; */
    text-align: center;
}

.do-section li {
    margin-bottom: 20px;
    padding: 5px 0 0 70px;
    width: 500px;
}


/*portfolio-list*/

.portfolio-list {

}

.portfolio-list li {
    width: 32%;
    margin-top: 24px;
    transition: all .6s ease-in-out 0s;
}

@media screen and (min-width: 1220px) {
    .portfolio-list li:nth-child(3n-1) {
        transition-delay: .2s;
    }

    .portfolio-list li:nth-child(3n) {
        transition-delay: .4s;
    }
}

.portfolio-list li.empty {
    width: 15%;
}

.portfolio-list li.animate,
.achievements li.animate {
    opacity: 0;
    transform: translate(-25px, 50px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
}


/*portfolio-list-item*/

.portfolio-list-item {
    position: relative;
    color: #fff;
    height: 296px;
    transition: .3s;
    cursor: pointer;
    box-shadow: none;
    transform: translateY(0);
}

.portfolio-list-item:hover {    
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .6);
    transform: translateY(-5px);
}

.portfolio-list-item .subtitle {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    margin: 30px;
    padding: 0 10px;
    border-right: 2px solid #fff;
    position: absolute;
    right: 0;
    top: 0;
    width: 10px;
    direction: rtl;
}

.portfolio-list-item h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 30px;
}

.portfolio-list-item .content {
    display: none;
}


/*achievements*/

.achievements li {
    width: 100%;
    margin-top: 24px;
    transition: all .6s ease-in-out 0s;
}

.achievements li:first-child {
    margin-top: 0;
}

.achievements li a {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    transition: .3s;
}

.achievements li a:hover {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .4);
    transform: translateY(-5px);
}

.achievements-icon {
    height: 288px;
    width: 360px;
}

.achievements-description {
    margin: 24px auto;
    width: 55%;
    /* border: 2px solid #000; */
}

.achievements li:nth-child(2) {
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    width: 50%;*/
}


/*popup*/

.popup {
/*    display: flex;*/
/*    flex-direction: column;*/
    z-index: 1000;
/*    color: white;*/
/*    font-size: 16px;*/
/*    line-height: 16px;*/
    visibility: hidden;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
/*
    background-image: url(../images/item_bg_1.jpg), linear-gradient(0deg, rgb(62, 10, 111), rgb(213, 61, 135), rgb(213, 61, 135), rgb(198, 39, 54), rgb(198, 39, 54), rgb(251, 167, 35), rgb(251, 167, 35), rgb(210, 222, 13), rgb(210, 222, 13), rgb(16, 204, 113), rgb(16, 204, 113), rgb(13, 161, 222), rgb(13, 131, 222), rgb(100, 37, 227), rgb(62, 10, 111), rgb(213, 61, 135)); 
    background-size: 100% 1600%; 
    background-position: 0px 1%;
*/
/*    background: linear-gradient(to right, #66c8ff, #bb63ff), url(../images/item_bg_1.jpg);*/
/*    background-position: center center;*/
/*    background-size: cover;*/
/*    background-blend-mode: screen;*/
/*    filter: blur(2px);*/
/*    transition: .5s;*/
}

.popup h3 {
/*    z-index: 1001;*/
    position: absolute;
    top: 135px;
    left: 50%;
    color: #fff;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 37px;
    white-space: nowrap;
}

.popup-logo {
    position: absolute;
    height: 180px;
    width: 180px;
    top: -20px;
    left: 50%;
    transform: scale(.5) translateX(-100%);
}

/*
.popup .subtitle {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 17px;
    margin: 32px;
    padding: 0 10px;
    border-right: 3px solid #fff;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    direction: rtl;
}
*/

.popup-close {
    cursor: pointer;
    visibility: hidden;
    opacity: .6;
    font-size: 54px;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    position: fixed;
    top: 27px;
    right: 1%;
    height: 56px;
    width: 56px;
    transition: all .3s;
}

.popup-close:hover {
    opacity: 1;
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
    transform: scale(.8) rotateZ(90deg);
}

.show {
    visibility: visible;
}

.show-content .popup-close {
    visibility: visible;
}

.popup-placeholder {
    height: 90px;
/*    width: 100%;*/
}

.popup-content {
    position: relative;
    height: 100%;
    max-width: 950px;
    width: 86%;
    margin: 0 auto;
    bottom: -75%;
    border-top: 190px solid transparent;
    /* border-right: 100px solid transparent; */
    box-sizing: border-box;
    /*    left: 50%;*/
    /*    transform: translateX(-50%);*/
    /*    right: 17%;*/
    /* background-color: rgba(247, 245, 245, 0.9); */
    /*    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);*/
    /*    border: 1px solid black;*/
    overflow-x: hidden;
/*    border-radius: 8px;*/
    transition: .6s cubic-bezier(.77, 1.57, .62, .92);
    /*    animation: next 0.75s cubic-bezier(0.27, 1.64, 0.32, 0.95);*/
}

.slidewrapper {
    display: flex;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
/*    transition: 5s;*/
}

.item {
    position: relative;
    padding: 0 15px;
    transition: .5s;
}

.item.txt {
    width: 45%;
}

.item:nth-child(2) {
    transform: translateX(-600px);
/*    background-color: green;*/
}

.item:nth-child(3) {
    transform: translateX(600px);
/*    background-color: red;*/
}

.show-section .item {
    transform: translateX(0px);
}

.animation {
    transition: .0s 0.3s;
/*    transition: .8s;*/
}

.modal-error {
    animation: shake .5s;
}

@keyframes shake { 
    0%, 100% { 
        transform: translateX(0); 
    }
    20 { 
        transform: translateX(-16px); 
    }
    40% { 
        transform: translateX(16px);  
    }
    60% { 
        transform: translateX(-8px);  
    }
    80% { 
        transform: translateX(8px);  
    }
}

.show-content .popup-content,
.show-content .popup-navigation {
    bottom: 0;
}


/*.popup-navigation*/

.popup-navigation {
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translateX(-50%);
    height: 100%;
    border-top: 190px solid transparent;
    box-sizing: border-box;
    width: 86%;
    max-width: 950px;
    transition: .8s cubic-bezier(.77, 1.57, .62, .92);
}

.popup-navigation-button {
    position: absolute;
    height: 100%;
    width: 12%;
    cursor: pointer;
}

.popup-navigation-button.previous {
    left: -10%;
}

.popup-navigation-button.next {
    right: -10%;
}

.popup-indicators {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    visibility: hidden;
}

.popup-indicators li {
    height: 16px;
    width: 16px;
    margin: 40px 8px;
    border-radius: 50%;
    background-color: #bbb;
/*    color: #fff;*/
    cursor: pointer;
/*    text-align: center;*/
    transition: .4s;
}

.popup-indicators li:hover,
.popup-indicators li.active {
    background-color: #337ab7;
}

.button-icon {
    fill: transparent;
    stroke-width: 5;
    stroke: #fff;
    border-radius: 50%;
    opacity: .6;
    width: 70px;
    height: 70px;
    transition: all .3s ease-out;
}

.popup-navigation-button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -45px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 40px rgba(255,255,255,0);
    opacity: 0;
}

.popup-navigation-button.click:after {
      animation: wave-effect .5s ease-out forwards;
}

@keyframes wave-effect {
	0% {
		opacity: 1;
		transform: scale(.5);
	}
	80% {
		box-shadow: inset 0 0 0 2px rgba(255,255,255,.8);
		opacity: .1;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba(255,255,255,.8);
		opacity: 0;
		transform: scale(1);
	}
}

.popup-navigation-button.next.click .button-icon,
.popup-navigation-button.previous.click .button-icon {
    transform: translate(-50%,-50%) scale(.6);
    opacity: .6;
    box-shadow: none;
}

.popup-navigation-button:hover .button-icon {
    opacity: 1;
    box-shadow: inset 0 0 0 3px #fff;
    transform: translate(-50%,-50%) scale(.7);
}

.popup-content section {
/*    float: left;*/
    overflow: hidden;
    position: relative;
    padding: 40px 50px;
/*    margin: auto;*/
    height: 100%;
/*    width: 950px;*/
    box-sizing: border-box;
/*    display: inline-block;*/
/*    vertical-align: middle;*/
    border-radius: 8px;
    background-color: rgba(247, 245, 245, .9);
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}



.item.bgd {
    height: 0;
    width: 0;
    border-width: 200px 1000px;
    border-style: solid;
    border-color: transparent #304481 #304481 transparent; 
/*    z-index: 1;*/
    position: absolute;
    bottom: 0;
    left: -600px;
    
/*    right: 0;*/
/*    height: 200px;*/
/*    background-color: blue;*/
    transition: .3s;
/*    transform: translateY(600px);*/
    visibility: hidden;
}


.item.bgd-cir {
    height: 900px;
    width: 900px;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background-color: transparent;
    border: 200px solid #304481;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.item.bgd-sqr {
    height: 0;
    width: 0;
    border-width: 400px 2000px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #304481; 
    border-left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -550px;
    visibility: hidden;
}

/*
.popup-content .section:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
*/

.item.img img,
.item.img video {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

.item.txt h2 {
    margin-bottom: 20px;
    color: #304481;
    text-transform: uppercase;
    font-size: 28px;
}

.item.txt span {
    color: #000;
    font-size: 20px;
}


.show-title {
    text-align: center;
/*    padding-left: 300px;*/
/*    transform: translateX(0px)*/
}

.square {
    position: fixed;
    top: 10px;
    left: 500px;
    background-color: blue;
    height: 120px;
    width: 120px;
    border-radius: 50%;
}

/*
.about {
    height: 244px;
    padding: 50px;
}
.about-left {
    width: 660px;
    float: left;
}
h2 {
    font: 400 30px / 36px Arial;
    padding-bottom: 20px;
}
p {
    font-size: 16px;
    line-height: 24px;
    padding: 6px 0;
}
.about-right {
    width: 430px;
    height: 245px;
    float: right;
    background-color: #445161;
}
*/


/*Footer*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -2;
    background-color: #445161;
    padding: 200px 0 20px;
    font: 400 14px / 20px sans-serif;
    color: #fff;
    text-align: center;
/*    height: 100px;*/
}

@media screen and (max-width: 1200px) {
    
    .container {
/*        width: 100%;*/
        max-width: 900px;
/*        margin: 0;*/
/*        padding: 0 15px;*/
    }
    
    .do-section li {
    width: 290px;
}
    
    .portfolio-list li {
         width: 49%;
    }
    
    .portfolio-list li:nth-child(2n) {
        transition-delay: .2s;
    }
    
    .portfolio-list li.empty {
        display: none;
    }
    
    .achievements-icon {
        width: 49%;
    }
    
    .achievements-description {
        width: 45%;
    }
}

@media screen and (max-width: 760px) {
    
    header {
        background: rgba(255,255,255,.9);
        box-shadow: 0 1px 4px rgba(0,0,0,.5);
    }

    .header-nav {
        /*        width: 100%;*/
        float: none;
        margin-left: -15px;
        margin-right: -15px;
        /*        opacity: 0;*/
        height: 0;
        overflow: hidden;
        transition: .4s;
    /*        position: relative;*/
    /*        top: 64px;*/
    /*        left: 0;*/
    /*        float: left;*/
}
    
    .header-nav ul {
        /* flex-flow: column wrap; */
        flex-direction: column;
        /*        justify-content: space-around;*/
        /* justify-content: flex-end; */
}
    
    .header-logo {
/*        margin-left: -15px;*/
        margin-right: -15px;
/*        padding: 0 15px;*/
        float: none;
    }
    
    .header-logo svg {
        fill: #5f9ea0;
    }
    
    .icon-bar {
        display: block;
    }
    
    .header-nav li {
        border-top: 1px solid #d7d7d7;
        /*        display: block;*/
        width: 100%;
        /* float: none; */
        text-align: center;
        color: #000;
    }
    
    .header-nav-link {
    /*        display: block;*/
    /*        padding-left: 15px; */
    }
    
    section h2 {
        text-align: center;
    }
    
    .do-section ul {
        justify-content: space-around;
    }
    
    .portfolio-list {
        justify-content: space-around;
    }
    
    .portfolio-list li {
        width: 95%;
        max-width: 440px;
    }
    
    .portfolio-list li:nth-child(2n) {
        transition-delay: 0s;
    }
    
    .portfolio-list li.empty {
        display: none;
    }
    
    .achievements li a {
        width: 95%;
        max-width: 440px;
        margin: 0 auto;
    }
    
    .achievements .achievements-icon {
        width: 100%;
    }
    
    .achievements .achievements-description {
        width: 90%;
    }
    
    .section-img img,
    .section-img video {
/*        order: 1;*/
    }
    
    .section-img
        transform: translateX(0px);
    }

    .section-txt {
/*        order: 2;*/
        transform: translateX(0px);
    }
}

@media screen and (max-height: 600px) {
    
    .popup-content,
    .popup-navigation {
        border-top: none;
    }
}

@media screen and (max-width: 760px),
       screen and (max-height: 400px) {
    
    .popup {
        overflow: auto;    
    }
    
    .popup h3 {
        display: none;
    }
    
    .popup-logo {
        display: none;
    }
    
    .popup-close {
        left: 50%;
        margin-left: -28px;
/*        transform: translateX(50%);*/
/*        display: none;*/
    }
    
    .popup-indicators {
        visibility: visible;
    }
        
    .popup-navigation {
        display: none;
    }
    
    .popup-content {
        border-top: none;
        width: 95%;
        height: auto;
        margin: 110px auto 40px;
        border-radius: 16px;
        background-color: #eee;
    }
    
    .popup section {
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 50px 10px 100px;
        background-color: transparent;
    }
    
    .animation {
        transition: 1.2s;
    }

    .item:nth-child(n) {
        transform: translateX(0px);
    }
    
    .item.img img,
    .item.img video {
        box-shadow: none;
        max-height: none;
        order: 1;
/*        height: 100%;*/
/*        background-size: cover;*/
    }
    
    .item.txt {
        width: 360px;
        margin-top: 40px;
        order: 2;
    }

}